/*Main css*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --dark-blue-color : #1f2937;
    --light-blue-color: #3882f6;
    --strong-white-color: #f9faf8;
    --structure-padding: 20px 15%;
    --weak-white-color: #e5e7eb;
}
/*Body*/
body {
    font-family: 'Roboto', sans-serif;
}
/*Section 1*/
.section-1 {
    background-color: var(--dark-blue-color);
    padding: var(--structure-padding);
}

#logo {
    display: block;
    width: 50px;
}
nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
a{
    color: var(--weak-white-color);
    font-size: 18px;
    text-decoration: none;
}
nav>span{
    display: flex;
    gap: 70px;
}
/*Section 2*/
.section-2{
    background-color: var(--dark-blue-color);
    display: flex;
    height: 270px ;
    justify-content: center;
    padding: var(--structure-padding);
}

.section-2>.left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 50%;
}

h1{
    color: var(--strong-white-color);
}

.section-2>.left>p{
    color: var(--weak-white-color);
    font-size: 18px;
}

button{
    background-color: var(--light-blue-color);
    border: 0;
    border-radius: 5px;
    color: var(--weak-white-color);
    font-weight: 900;
    padding: 5px 15px;
    width: fit-content;
}
button:hover{
    cursor: pointer;
}
h1{
    font-size: 48px;
    font-weight: 800;
}

.section-2>.right{
    align-items: center;
    display: flex;
    justify-content: right;
    width: 50%;
}
img.example{
    border-radius: 15px;
    height: 80%;
}
/*Section 3*/
.section-3{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: var(--structure-padding);
}

h2{
    color: var(--dark-blue-color);
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}
.images-section{
    align-items: center;
    display: flex;
    gap: 30px;
}
div.image>img{
    border: 6px solid var(--light-blue-color);
    border-radius: 8px;
    height: 120px;
    width: 150px;
}
div.image{
    text-align: center;
    width: 160px;
}
.image>p{
    color: var(--dark-blue-color);
    font-weight: 400;
    line-height: 20px;
    margin-top: 5px;
}