/*Main css*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*Body*/
body {
    font-family: 'Roboto', sans-serif;
}
/*Section 1*/
.section-1 {
    background-color: #1f2937;
    padding: 20px 15%;
}

#logo {
    width: 50px;
    display: block;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
nav>span{
    display: flex;
    gap: 70px;
}